{% extends "parent.html" %}

{% block content %}
<div class="text-center">
  <h3> Rothy – Bee Hangul</h3>
  앵앵 벌떼들이 꼬이네 <br>
  매일 매일 입에 발린 말 <br>
  빛을 따라가는 사이 <br>
  you will never get a star <br>
  oh no 기다려 볼래 baby <br>
  줄을 서요 맨 뒤에 <br>
  알아서 분위기를 즐기네 <br>
  이제 날아갈 시간 <br>

  내 주윌 맴돌아 24/7 <br>
  구름 위를 걸어 짜릿한 기분 <br>
  i just want you to call my name <br>
  just call my name <br>

  catch me if you can <br>
  내게 날아오를 수 있다면 <br>
  catch me if you can <br>
  따라와 줄래 더 위로 <br>
  다양한 색으로 물들여줘 <br>
  꽉 막힌 black color 멋이 없어 <br>
  어때 color color color of me <br>

  나긋나긋한 애 보단 <br>
  나쁜 나쁜 나쁜 애 <br>
  아쉬워 매달릴 땐 hold up <br>
  귀찮아 간지러워 <br>
  shake it off <br>

  나긋나긋한 애 보단 <br>
  나쁜 나쁜 나쁜 나쁜 애 <br>
  아쉬워 매달릴 땐 hold up <br>
  귀찮아 간지러워 <br>
  kick it out <br>

  ring ring <br>
  못다한 말이 또 있니 <br>
  빙빙 돌려 얘기 하지마 <br>
  우물쭈물 대는 사이 <br>
  you will never get a star <br>
  knock knock <br>
  제일 먼저 아이 컨택 <br>
  밝게 웃으며 인사 <br>
  왜 또 말이 느려지는데 <br>
  괜히 소심해지나 <br>

  내 주윌 맴돌아 24/7 <br>
  구름 위를 걸어 짜릿한 기분 <br>
  i just want you to call my name <br>
  just call my name <br>

  catch me if you can <br>
  내게 날아오를 수 있다면 <br>
  catch me if you can <br>
  따라와 줄래 더 위로 <br>
  다양한 색으로 물들여줘 <br>
  꽉 막힌 black color 멋이 없어 <br>
  어때 color color color of me <br>

  난 보기보다 달콤하지 않아 <br>
  난 보기보다 상냥하지 않아 <br>

  catch me if you can <br>
  내게 날아오를 수 있다면 <br>
  catch me if you can <br>
  따라와 줄래 더 위로 <br>
  다양한 색으로 물들여줘 <br>
  꽉 막힌 black color 멋이 없어 <br>
  어때 color color color of me <br>

  나긋나긋한 애 보단 <br>
  나쁜 나쁜 나쁜 애 <br>
  아쉬워 매달릴 땐 hold up <br>
  귀찮아 간지러워 <br>
  shake it off <br>

  나긋나긋한 애 보단 <br>
  나쁜 나쁜 나쁜 나쁜 애 <br>
  아쉬워 매달릴 땐 hold up <br>
  귀찮아 간지러워 <br>
  kick it out
</div>
{% endblock %}
